<nav class="navbar navbar-light bg-light navbar-expand-lg justify-content-start">
    <div class="col-lg-2">
      <a class="navbar-brand" [routerLink]="''"><b>Owl Carousel</b></a>
    </div>
    <div class="col-lg-8">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'/home'" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/present'">Present</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/link-comp'">Link Component</a>
        </li>
        
      </ul>

    </div>
</nav>

<!-- <owl-carousel-libdemo-present></owl-carousel-libdemo-present> -->
<!-- <owl-carousel-libdemo-home></owl-carousel-libdemo-home> -->

<!-- <a class="btn btn-primary" type="button" [routerLink]="'/home'" fragment="some-section">Home Second</a> -->
<router-outlet></router-outlet>

