// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$owl-primary: mat.define-palette(mat.$teal-palette);
$owl-accent: mat.define-palette(mat.$lime-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$owl-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$owl-theme: mat.define-light-theme((
  color: (
    primary: $owl-primary,
    accent: $owl-accent,
    warn: $owl-warn,
  )
));

// $accent: map-get($owl-theme, accent);
// $primary: map-get($owl-theme, primary);
// $warn: map-get($owl-theme, warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($owl-theme);
@include mat.menu-theme($owl-theme);
// @include mat.progress-spinner-theme($owl-theme);
// @include mat.icon-theme($owl-theme);
@include mat.button-theme($owl-theme);
// @include mat.all-component-themes($owl-theme);


