@import 'bootstrap/scss/bootstrap';
@import './mat-theme';

/* You can add global styles to this file, and also import other style files */
.owl-theme .active .slider {
  background-color: red;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}